* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
}

:root {
    --blanc: #fff;
    --gris-clair: #ddd;
    --gris-transparant: rgba(0, 0, 0, 0.212);
    --gris: rgb(155, 155, 155);
    --gris-fonce: rgb(94, 94, 94);
    --bleu-clair: #c1d2d9;
    --bleu-fonce: #7bafc9;
    --orange: orange;
}
header {
    background-image: url(img/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 
}

header div#navigation { 
    display: flex;
    justify-content: space-around;
    background-color: var(--gris-transparant);
    align-items: center;
}
nav ul{
    display: flex;
    flex: wrap;
    gap: 2%;
    list-style-type: none;
}
header h1 {
    color: var(--blanc);
    font-family: 'Ephesis', cursive;
}

header nav a {
    text-decoration: none;
    color: var(--blanc);
    border-radius: 30px;
    padding: 15px 20px;
    transition: 2s ease;
}

header nav a:last-of-type {
    border: 2px solid var(--blanc);
}

header nav a:hover {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}

header #en-tete {
    text-align: center;
    color: var(--blanc);
}

#en-tete h2 {
    margin: 15px 0 0 0; 
    font-family: 'Ephesis', cursive;
    text-transform: capitalize;
    font-size: 5em;
    font-weight: lighter;
    line-height: 1em;
}

#en-tete p {
    margin: 0;
}

#recherche {
    height: 10vh;
    background-color: var(--bleu-clair);
    color: var(--bleu-fonce);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#recherche p {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
}

#recherche i {
    font-size: 1.2em;
}

.conteneur {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: 30%;
}

.col-2
{
    width: 20%;
}
.col-2 ul{
    list-style-type: none;
    line-height: 4ex;
}
.col-6
{
width: 40%;
}
.col-6 ul
{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
}


article div {
    border: 1px solid var(--gris-clair);
    position: relative;
}
.prix {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: var(--blanc);
    padding: 15px 10px;
    border: none;
}

div.texte {
    padding: 15px;
    border: none;
}

.texte h2 {
    color: var(--gris-fonce);
    font-size: 1em;
}

.texte p {
    color: var(--gris);
    font-size: 0.8em;
}

.more {
    text-align: center;
    height: 70px;
}
.more button {
    padding: 10px 20px;
    border-radius: 50px;
    background: transparent;
    color: var(--bleu-fonce);
    border: 1px solid var(--bleu-fonce);
    cursor: pointer;
    transition: 1s ease;
}

.more button:hover {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}


/* Footer */

footer {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    height: fit-content; 
}

footer a {
    color: var(--blanc);
    text-decoration: none;
}

footer p {
    line-height: 35px;
}

footer i {
    padding-right: 25px;
    font-size: 1.2em;
}

footer a:hover {
    color: var(--orange);
}

footer hr {
    color: var(--blanc);
    background-color: var(--blanc);
}

.copyright {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}



.col-1 {
    width: 8.333333%;
    padding: 25px;
}

.col-2 {
    width: 16.6666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 25px;
}

.col-5 {
    width: 41.6666666%;
    padding: 25px;
}

.col-6 {
    width: 50%;
    padding: 25px;
}

.col-7 {
    width: 58.333333%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.333333%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

.col-12 {
    width: 100%;
    padding: 25px;
}